<%- include('../partials/header', {title:"Transaction History", user:user}) -%>
<br>
<h1>Transaction Log</h1>
<table>
  <tr>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Title</th>
    <th>Decription</th>
    <th>Image</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
