<%- include('partials/header', {title:"Lunch Line"}) -%>

<body>


  <section id="hero">

    <div style = "margin-left: 40%; margin-top: 20%" class="hero-text" data-aos="zoom-out" >
      <h2>Welcome to the Lunch Line</h2>
      <p>Emmett and Bereket's Q3 App</p>

    </div>





</body>
