<%- include('partials/header', {title:"Trinity Thrifting", user:user}) -%>

<body>


  <section id="hero">

    <div style = "margin-left: 40%; margin-top: 20%" class="hero-text" data-aos="zoom-out" >
      <h2>Welcome to Trinity Thrifting</h2>
      <p>Emmett's Q4 App</p>

    </div>





</body>
