<%- include('../partials/header', {title:"Order Fulfillment", user:user}) -%>


  <body>

  <h1>Anonymous Forum</h1>

    <div id="chat" style = "height:300px; border: 1px solid black"></div>
    <input id="message" type="text" >
    <button id="send">Send</button>

    <script src="/socket.io/socket.io.js"></script>
<script>

  var socket = io();

  var chat = document.getElementById("chat");
  var messageInput = document.getElementById("message");
  var sendButton = document.getElementById("send");

//console.log(chat, messageInput, sendButton);

  sendButton.addEventListener("click", function(){
    var message = messageInput.value;
    //console.log(0);
    socket.emit('message', message);
    messageInput.value = "";
  });

  socket.on('message', function (data) {


    chat.innerHTML += data + "<br>";
    chat.scrollTop = chat.scrollHeight;
  });
    </script>
  </body>
