<%- include('../partials/header', {title:"Order Fulfillment", user:user}) -%>

<h1>history</h1>

  <h1> Congrats! Your photo upload worked: </h1>
  <p><%=students%></p>
  <img src='<%=photoLocation%>' width='50%'>
