<%- include('../partials/header', {title:"Order Fulfillment", user:user}) -%>

<h1>Thank You For Thrifting!</h1>

<h3>Confirmation:</h3>
<p><%=user._json.email%></p>
<img src='<%=imageSRC%>' width='50%'>
